# Virtual Environment
venv/
env/
ENV/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
temp_*.pdf
temp_*.docx

# IDE files
.vscode/
.idea/

# Database
*.db
*.sqlite3

# NO ignorar archivos de credenciales para asegurar que se suban a Heroku
# credenciales.json
# client_secrets.json